<title><%- title %></title>

<link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.min.css">
<link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
<link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/styles/bootstrap/sticky-footer-navbar.css">
