<h1><%=title%></h1>
<div>
    <a href="/members"><button type="btn btn-primary">Members</button></a>
    <a href="/activities"><button type="btn">Activities</button></a>
    <div class="row">
      <div class="col-md-4">
      </div>
    </div>
</div>
