<!DOCTYPE html>
<html>
  <head>
    <!--ssssssss-->
    <%- include ./common/header %>
  </head>
  <body>
    <%- include ./common/navbar %>
    <div class="container">
      <%- body %>
    </div>
  </body>
</html>
