<form method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input class="form-control" id="address" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of birth</label>
    <input type="date" class="form-control" id="dateOfBirth" placeholder="mm/dd/yyyy">
  </div>
  <div class="form-group">
    <label for="credentialType">Credential Type</label>
    <input class="form-control" id="credentialType" placeholder="Credential type">
  </div>
  <select class="form-group">
    <% activities.forEach((activity) => { %>
      <option><%= activity.name %></options>
    <% }) %>
  </select>
</form>
