  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input class="form-control" id="address" name="address" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="primary-phone">Primary phone</label>
    <div class="row">
      <div class="col-md-6">
        <input id="primary-phone" type="tel" class="form-control" name="phone" placeholder="Primary phone">
      </div>
      <div class="col-md-6">
        <button class="btn btn-sm btn-primary pull-right disabled">Additional phone</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label for="credentialType">Credential Type</label>
        <input class="form-control" id="credentialType" name="credentialTypeID"  placeholder="Credential type">
      </div>
      <div class="col-md-3">
        <label for="credentialNumber">Credential number</label>
        <input class="form-control" id="credentialNumber" type="number" name="credentialNumber" placeholder="Credential number">
      </div>
      <div class="col-md-3">
        <label for="requestNumber">Request number</label>
        <input class="form-control" id="requestNumber" type="number" name="requestNumber" placeholder="Request number">
      </div>
      <div class="col-md-3">
        <label for="inscriptionDate">Inscription date</label>
        <input class="form-control datepicker" id="inscriptionDate" name="inscriptionDate" placeholder="dd-mm-aaaa">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <label for="birthDate">Date of birth</label>
      <input class="form-control datepicker" id="birthDate" name="birthDate" placeholder="dd-mm-aaaa">
    </div>
    <div class="col-md-6">
      <label for="birthPlace">Place of birth</label>
      <input class="form-control" id="birthPlace" name="birthPlace" placeholder="Place of birth">
    </div>
  </div>
  <div class="form-group">
    <label for="ocupation">Ocupation</label>
    <input class="form-control" id="ocupation" name="ocupation" placeholder="Ocupation">
  </div>
  <select class="form-control" name="activity">
    <% console.log(activities); for(var act in activities) { %>
      <div><% console.log(activities)%></div>
      <option name='<%- activities[act].name.toLowerCase() %>'><%- activities[act].name %></options>
    <% } %>
  </select>
