<h1>
  <%- title %>
</h1>
<div>
    <% if(members.length) {%>
      <ul>
        <%switch(members){
          case ((members instanceof Error) === true): %>
            <li>Error: <%= members %></li>
          <%break;
          case (members.length === 0): %>
            <li>No members found</li>
          <%break;
            default:
             members.forEach((member)=> {%>
              <li><%=member.name%></li>
              <% });
            }%>
      </ul>
      <%}else{%>
            <div>No members found</div>
          <%}%>
  </ul>
</div>
